<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href=" {{url_for('static', filename='nationality.css')}}">
    <meta charset="UTF-8">
    <script src="{{url_for('static',filename='education.js')}}" type="text/javascript">
    </script>
    <title>Academic details</title>
</head>
<body>
<div id="form">
    <form method="post" action="/Dashboard/Taxes/page3">
        <div style="visibility:hidden">{{form.csrf_token()}}</div>
        <select name="univ" id="uni" onchange="return setAddress()">
            <option dataind="0" value="None">Select University</option>
            <option dataind="1" value="AAMU">Alabama A&M University</option>
            <option dataind="2" value="UA_Birm">University of Alabama at Birmingham</option>

        </select>
        <a>University Address</a><input type="text" id="address"/>
        <a>City</a><input type="text" id="city"/>
        <div>{{form.submit()}}</div>

    </form>
</div>
</body>
</html>