<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript">
     function moreCheck(){
        if
        (document.getElementById('yesCheck').checked){
        document.getElementById('ifYes').style.display='block';
        }
        else
        document.getElementById('ifYes').style.display='none';
        }

    </script>
    <title>Title</title>
</head>
<body>
<div id="form">
    <form method="post" action="/Dashboard/Taxes/page1_travel">
        <div style="visibility:hidden">{{form.csrf_token()}}</div>
        <div>{{form.start_date_1.label}} {{form.start_date_1()}}</div>
        <div>{{form.end_date_1.label}} {{form.end_date_1()}}</div>
        <p>Additional travel?</p>
        Yes <input type="radio" onclick="javascript:moreCheck();" name="yesno" id="yesCheck">
        No <input type="radio" onclick="javascript:moreCheck();" name="yesno" id="noCheck"><br>
        <div id="ifYes" style="display:none">{{form.start_date_2.label}} {{form.start_date_2()}} <br>
        {{form.end_date_2.label}} {{form.end_date_2()}}</div>

        <div>{{form.submit()}}</div>
    </form>
</div>
<p id="demo">Testing</p>
<button type="button" onclick="myFunction()">Test it</button>
</body>
</html>
